#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [3]:
users = pd.read_csv('users_table.csv')

#### 3. Rename Id column to userId

In [5]:
users = users.rename(columns = {'Id':'userId'})

#### 4. Import posts table:

In [6]:
posts = pd.read_csv('posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [9]:
posts = posts.rename(columns = {'Id':'postId','OwnerUserId':'userId'})

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [10]:
users_new = users[['userId', 'Reputation','Views','UpVotes','DownVotes']].copy()
posts_new = posts[['postId', 'Score','userId','ViewCount','CommentCount']].copy()

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [11]:
merge_df = users_new.merge(posts_new, how='inner', on='userId')
merge_df

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5
38961,55226,119,2,3,0,16176,1,NaN,0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [12]:
merge_df.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [14]:
# As the column ViewCount is the only one with missing values, I don't believe we should clean it.
# Insted, filling the Nulls with the mean so it will not become a outlier
merge_df['ViewCount'] = merge_df['ViewCount'].fillna(value=merge_df['ViewCount'].mean())
merge_df

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,1196.225991,0
1,-1,1,0,5007,1920,8576,0,1196.225991,0
2,-1,1,0,5007,1920,8578,0,1196.225991,0
3,-1,1,0,5007,1920,8981,0,1196.225991,0
4,-1,1,0,5007,1920,8982,0,1196.225991,0
...,...,...,...,...,...,...,...,...,...
38957,45934,11,1,0,0,34003,1,115.000000,2
38958,46192,36,1,0,0,40667,5,326.000000,2
38959,46522,235,13,27,1,17461,3,166.000000,0
38960,52371,221,2,0,0,27237,24,3357.000000,5
38961,55226,119,2,3,0,16176,1,1196.225991,0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [15]:
# The columns that needs to change its type is Reputation, as it is a qualitative variable, not quantitative
merge_df['Reputation'] = merge_df['Reputation'].astype('object')
merge_df['Reputation'].dtype

dtype('O')